* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
} 

/* Globals */

.align-center {
  align-items: center;
}

.align-end {
  justify-content: flex-end;
}

#body {
  background-image: url("./assets/rooftop-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.d-flex {
  display: flex;
  flex-direction: row;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.d-none {
  display: none;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

/* Site */
#btnToggle {
  display: none;
}

.btn {
  height: 65px;
  border-radius: 8px;
  background-color: #28323c;
  border-color: #28323c;
  font-weight: bold;
  color: white;
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.card {
  min-width: 100%;
  background-color: white;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
  border-radius: 0.5rem;
  gap: 1rem;
}

.card-header {
  top: 0;
  left: 0;
}

.card-body p {
  padding: 0;
  margin: 5px 0;
}

.contact-form input,
select {
  max-width: inherit;
  height: 65px;
  margin-bottom: 1rem;
  border: 1px solid gray;
  border-radius: 3px;
}

.contact-form input {
  padding-left: 1rem;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
}

.contact-form input::placeholder {
  font-family: Roboto, sans-serif;
  font-size: 0.9rem;
  color: #4A4444;
}

.contact-form textarea {
  min-width: 100%;
  max-width: 100%;
  height: 140px;
  margin-bottom: 1rem;
  border: 1px solid gray;
  border-radius: 3px;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

.contact-form textarea::placeholder {
  padding: 0 1rem;
  padding-top: 1rem;
  font-size: 0.85rem;
  color: #4A4444;
  font-family: Roboto, sans-serif;
}

#header {
  margin-top: 3.25rem;
}

.header-logo {
  height: 40px;
}

.container {
  margin: 0 auto;
  margin-top: 3rem;
  max-width: 90%;
}

.nav {
  list-style: none;
  font-size: 0.85rem;
  font-family: Roboto, sans-serif;
  font-weight: bold;
}

.nav-item {
  margin-right: 0.8rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.1rem;
  font-size: 1.05rem;
}

.nav-item a {
  text-decoration: none;
  color: inherit;
}

.nav-item-base {
  color: #28323c;
}

.nav-item-blue {
  background-color: #28323c;
  border-color: #28323c;
  color: white;
}

#navbar {
  flex: 1
}

#section {
  margin: 0 auto;
}

#sections {
  padding-left: 1rem;
}

#sections option{
  font-size: 1rem;
}

.social {
  list-style: none;
  padding: 1.5rem 0;
}

.social-item {
  margin: 0 1rem;
  display: inline-flex;
  padding: 0.5rem;
  background-color: #E4E4E4;
  border-radius: 5px;
}

.subtitle {
  margin: 1.5rem 0;
  line-height: 1.7rem;
  font-size: 1.1rem;
  font-weight: 300;
}

.title {
  font-size: 2.2rem;
  line-height: 2.6rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-family: Poppins,sans-serif;
  color: #28323c;
}

.title-section {
  padding: 1rem 0;
}

@media screen and (min-width: 586px) {
  .container {
    max-width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .card { 
    max-width: 400px;
    min-width: 400px;
    line-height: 0.75rem;
  }

  .card-container {
    order: 2;
  }

  .contact-form {
    order: 3
  }

  .container {
    max-width: 80%;
  }

  .form-item:nth-of-type(1){
    width: 49.5%;
    order: 1;
  }
  .form-item:nth-of-type(1){
    order: 3;
  }
  .form-item:nth-of-type(1){
    width: 49.5%;
    order: 2;
  }

  #section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .social {
    order: 4;
  }

  #title-logo {
    display: none;
  }

  .title {
    font-size: 2.8rem;
  }

  .title-section {
    order: 1;
    width: 60%;
    min-width: 60%;
    max-width: 60%;
  }

  #header {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .card { 
    max-width: 350px;
    min-width: 350px;
  }

  .card-container {
    order: 3;
    width: 60%;
    margin-top: -19rem;
  }

  .container {
    max-width: 90%;
  }

  .contact-info:nth-of-type(1) {
    max-width: 350px;
  }

  .contact-form {
    order: 2;
    max-width: 500px;
  }

  #section {
    display: flex;
    flex-direction: row;
    margin-top: 6rem;
  }

  .social {
    order: 4;
    width: 60%;
    justify-content: flex-start;
    margin-top: -3rem;
  }

  .social-item {
    margin: 0 0.25rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .title-section {
    order: 1;
    margin-top: -22rem;
    width: 350px;
    max-width: 350px;
    min-width: 350px;
  }
}

 @media screen and (min-width: 1400px) {
  .container {
    width: 75%;
  }
 }

